@model CRUDMVCProject.Models.Employee;
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

